.parallax {
  &--container {
    position: relative;
    overflow: hidden;
  }

  &--background {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0s linear;

    img {
      max-width:100%;
      min-height: 100%;
      width: auto;
      height: auto;
      object-fit: cover;
    }
  }

  &--foreground {
    position: absolute;
    width: 100%;
  }
}
