.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: $header-height;
  transition: 0.5s;

  &--dark {
    background-color: rgba(0, 0, 0, 0.8);
  }

  &--scrolled {
    background-color: rgba(0, 0, 0, 0.8);
  }

  &--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
  }
}

.logo {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;
  font-size: 24px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.headspacer {
  margin-top: $header-height;
}

.menu {
  display: flex;

  @include m {
    display: none;
  }

  &--item {
    margin-left: 50px;

    a {
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.mobilemenu {
  display: none;

  @include m {
    display: initial;
  }

  &--list {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: $header-height;
    min-height: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s, min-height 0.3s, height 0.3s;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 50px;

    &-visible {
      visibility: visible;
      opacity: 0.99;
      min-height: 100vh;
      height: 100%;
    }
  }

  &--item {
    border-bottom: 1px solid #ffffff;

    &:last-of-type {
      border-bottom: none;
    }

    a {
      color: #ffffff;
      text-decoration: none;
      padding: 15px 0;
      text-align: center;
      display: block;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.not-header {
  transition: 0.5s;

  &--blurred {
    filter: blur(5px);
    height: 100vh;
    overflow: hidden;
  }
}
