.footer {
  background-color: $color-dark-grey;
  color: $color-white;
  margin-bottom: 0;
  padding: 30px 0;

  h4 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &--content {
    display: flex;
    justify-content: space-between;

    @include s {
      flex-direction: column;
    }
  }

  &--contact {
    a {
      color: $color-white;
    }
  }

  &--social-media {
    text-align: right;

    @include s {
      text-align: left;
      margin-top: $spacing-L;
    }

    &--links {
      font-size: 20px;

      a {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: $color-white;
        color: $color-dark-grey;
        text-decoration: none;
      }
    }
  }
}

.legal {
  background-color: $color-very-dark-grey;
  color: $color-white;
  padding: 20px 0;

  a {
    color: $color-white;
  }

  &--content {
    display: flex;
    justify-content: space-between;

    @include l {
      flex-direction: column;
    }
  }

  &--links {
    @include l {
      margin-top: $spacing-M;
    }

    a {
      margin-left: 20px;
      text-decoration: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
