@import "mixins";

.container {
  width: $page-width;
  margin: 0 auto;

  @include xl {
    width: 100vw;
  }

  &--mobile-padding {
    @include xl {
      padding: 0 $spacing-L;
    }

    @include s {
      padding: 0 $spacing-M;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", sans-serif;
}

.button {
  a {
    border: 1px solid $color-white;
    color: $color-white;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 45px;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    transition: 0.3s;

    svg, img {
      margin-left: 5px;
      transition: 0.3s;
    }

    &:hover {
      background-color: $color-white;
      color: $color-black;
      mix-blend-mode: lighten;

      img {
        filter: brightness(0%);
      }
    }
  }

  &--small {
    a {
      padding: 7px 30px;
    }
  }
}

.frame {
  width: $page-width;
  margin: 0 auto;
  padding: 20px 0 40px 0;

  @include xl {
    width: 100vw;
  }

  &-layout-1 {
    text-align: center;

    p {
      max-width: 840px;
      margin: 0 auto;
    }
  }

  &-containerbox {
    @include xl {
      padding-left: $spacing-L;
      padding-right: $spacing-L;
    }
  }

  &-space-before-large {
    margin-top: $spacing-L;
  }

  &-space-after-large {
    margin-bottom: $spacing-L;
  }
}
