// Variables
$color-white: #ffffff;
$color-black: #000000;
$color-blue: rgba(7, 24, 42, 1);
$color-blue-semitransparent: rgba(7, 24, 42, 0.7);

$color-light-grey: #e1dedc;
$color-dark-grey: #35383C;
$color-very-dark-grey: #282B2E;

$page-width: 1200px;
$header-height: 70px;

$break-xl: 1200px;
$break-lg: 1000px;
$break-md: 800px;
$break-sm: 600px;

$spacing-XS: 5px;
$spacing-S: 10px;
$spacing-M: 20px;
$spacing-L: 40px;
$spacing-XL: 60px;
